ul,
ol {
  padding: 0 2rem;
}

p {
  font-size: 18px;
}

pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

img {
  max-width: 100%;
  height: auto;
}

blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(13, 13, 13, 0.1);
}

hr {
  border: none;
  border-top: 2px solid rgba(13, 13, 13, 0.1);
  margin: 2rem 0;
}

.menuBar button {
  @apply m-5 p-2 bg-gray-100 border border-gray-300 text-black;
}

.menuBar {
  @apply flex space-x-2;
}

.menuBar button.is-active {
  @apply text-white bg-black;
}
